.site-techs {
  padding: 0;
  list-style: none;
  font-size: 18px; }
  .site-techs li {
    padding: 0;
    margin: 0;
    position: relative; }

.site-tech-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: scaleX(0.5);
  transform-origin: 0;
  background: #fff; }
  .site-tech-bar:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    right: 0; }
