.site {

    display: grid;
    min-height: 100vh;
    overflow: hidden;
    // grid-template-rows: 1fr 100px;
    border-bottom: 40px solid #fff;
    // border-top: 20px solid #fff;

    @media (min-width: 800px) {
        border: none;
    }

    > :first-child {
        padding: 10vw 5vw;
        align-self: center;
        transform: skewY(-5deg);
    }

    > :last-child {
        
        box-shadow: 5px 0 2.5px rgba(0, 0, 0, .25) inset;
        display: grid;
        align-content: center;
        position: relative;
        z-index: 0;

        &:after {
            content:"";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index: -1;
        }

    }

    &:nth-of-type(odd) {

        background: #111;
        color:#fff;

        > :last-child {

            &:after {
                background: linear-gradient(to left, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
            }

        }

        .site-tech-bar:before {
            background: linear-gradient(to right, rgba(17,17,17,1) 0%,rgba(17,17,17,0) 100%); 
        }

        @media (min-width: 800px) {

            grid-template-columns: 5fr 3fr;

            > :first-child {
                padding-right: 15vw;
            } 

            .site-images {
                margin-left:-10vw;
                padding-right:5vw;            
            }

        }

    }

    &:nth-of-type(even) {

        background: #fff;
        color:#333;

        a {
            color:#333;
        }

        > :last-child {

            box-shadow: -5px 0 2.5px rgba(0,0,0,.25) inset;

            &:after {
                background: linear-gradient(to right, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
            }

        }

        .site-tech-bar:before {
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
        }

        @media (min-width: 800px) {

            grid-template-columns: 3fr 5fr;

            > :first-child {
                order: 2;
                padding-left: 15vw;
            }

            .site-images {
                margin-left:10vw;
                padding-left:5vw;
            }

        }

    }

}